/* FOOTER */
footer {
    background: #3e3e3e;
    width: 100%;
    bottom: 0px;
}
.container-footer {
    @include flex-column;
    div{
        text-align: center;
        margin: 3px;
    }
} 



.titulo-footer {
    color: #fad353;
    margin-top: 3px;
    text-shadow: 0 4px 5px #000000;
}

.redes-sociales__footer i {
    margin: 0 4px 0 4px;
}

.redes-sociales__footer a {
    color: #000000;
}

footer .copy {
    color: #000000;
    margin-bottom: 10px;
}