



body {
    background: #ffffff;
}

.titulo-lrmodel{
    color: #FFC60B;
    margin: 0 15px;
}

nav{
    width: 100%;
    text-align: center;
    background:#3e3e3e;
    box-shadow: 0 0px 5px #000000;
    div {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 100px 100px 100px 100px 1fr 1fr;
    justify-items: start;
    align-items: center;
        a{
        text-decoration: none;
        padding: 15px;
        color: #fff;
        font-size: 17px;
}
}
}
nav a:hover {
    background: #5e5e5e;
}

.login{
    display: flex;
    justify-content: flex-end;
a{
    margin: 5px;
}

}
.ingresar{
    margin-left: 36rem;
    background-color: #FFC60B;
    padding: 7px;
    border-radius: 4px;
    flex-wrap: wrap;
}

.crear-cuenta{
    background-color: #FFC60B;
    padding: 7px;
    border-radius: 4px;
}

.fondo-index img {
    background-position: center;
    position: relative;
    width: 100%;
    z-index: -1;
    margin-top: -90px
}